spring:
  application:
    name: authN-authZ-service-kt

  mail:
    host: smtp.gmail.com
    port: 587
    username: mailsenderforjava@gmail.com
    password: iltifceckjkwsohf
    properties:
      mail:
        transport:
          protocol: smtp
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true


  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8080

jwt:
  secret: dyj2zRGQShxztgcCLzMHNVz0USdb5AqeuhfbJlm6MUrbuQvRzgAviEr1jYFVF2DreHlcUxDSQsdHpcMwD8FIxxhZ20Qm5TnZWhNYnblpcQwR7TEdmamaq067kU2IxGXfRrwpGKRsM30zyL83oMIRQ53bzftiqtJSXDrCYR4LqOJHIjQKOiK4JVIW85c0ap0cbrcpEMSRYdXYyZsVbTBRBgtp3NNrpqK6LhabmAPXkz3G407pyAebHFg3nH12c6wE9Om2ZpWXyZDhiyxsQ4sVvBmmbRUrvGTV8Kx4ELmtVeDNciEMRdCxnSQOkafpvrWj0yOfngeGMuzDyuXFj5LZbn03g9GTNqkdHvIz97njWAIxotL1KcC53hCieGhoCBOIl7cM7DgVPOGzkT4mjjjXsOIK8aFcbYqf4omPR7Sa9pzShBZ880wXLw3HHixpZaTaPIV8MAV3uhSuXjt4cVEiZFDDJRJdKIB1bYeP8fffYGqaLP8tEF2goZnObjnL6ZIsYKjSnA0pwsA6zVzBtdZHnj2EQyBbTz7jcMnXZ61vxOO3FhZONd2S6LbWJ3bIaGOXw8MDXH4ZD0I0EvY3TKAOnDsozfblDGoPRmRVaQ8bCxw3TAyz1ELRgp6hrbMg5DlEMMECSkGAukqYYth9XeImadFmbHxk9QNZnxDnWqRbYmo3wFOGlMz9Q92OQdcdavucZeszQYhEmTk7iiJfjxmsKG6FXgDvvCuVmQAYKeUhJiUXrZxMWxP5VfD9ghDHqjshSdtj158YGhl1VWOAy9RahaFVezmwJCDfVF43DMXwSZeq6pUgLZQ3LYdnRwzpCjjvURGLYSPab6uv5ARRZgDxt3R8qWQItCLs3wfXxAjqfKAtLeTRJiYIXkk9yUokddJC79mNEMBwpJxSgJlWe2rDpLsp9qh7a48i1jWqZKaJbQ3oyXkzkelFkNQk28eLOJ3TzShEA6J74CzvzbutZGl1kZH3dZpiParDA5QdzDLthwbbbdKHFRvOOf2nooFQphpd
  expiration: 3600000
